body {
  box-shadow: 1px 1px 2px 2px black;
  background:
  linear-gradient(grey,lightblue);
}
h1 {
  padding-right: 10px;
  font-family: arial;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  background:
  linear-gradient(darkgrey,lightgrey);
  box-shadow: 1px 1px 2px 2px purple;
  border-radius: 5px;
}
.para1,.para2,.para3 {
  text-align: left;
  margin-right: 150px;
  padding-left: 10px;
  color: white;
  background:
  linear-gradient(grey,black);
  box-shadow: 1px 1px 1px 1px purple;
  border-radius: 2px;
}
section {
  padding-left: 10px;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 1000px;
  padding-right: 10px;
  height: 350px;
  color: black;
  text-align: left;
  font-family: arial;
  font-weight: bold;
  background:
  linear-gradient(grey,lightgreen);
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px purple;
}
